{% extends 'craft-commerce-click-and-collect/_layouts' %}

{% set title = "Click & Collect - Dashboard"|t(craft.clickcollect.getPluginHandle()) %}

{% block blockContent %}
  <p>Page content goes here</p>
{% endblock %}