{#
/**
 * Click and Collect plugin for Craft CMS 4.x
 *
 * Add drop in Click and Collect functionality to Craft Commerce.
 *
 * @link        https://burnthebook.co.uk
 * @author      Michael Burton <mikey@burnthebook.co.uk>
 * @since       0.0.1
 * @copyright   Copyright (c) 2022 burnthebook
 */
#}
{% extends 'craft-commerce-click-and-collect/_layouts' %}

{% set selectedSubnavItem = 'collection-points' %}

{% set title = "Click & Collect - Collection Points"|t(craft.clickcollect.getPluginHandle()) %}
{% set collectionPoints = craft.clickcollect.getCollectionPoints() %}

{% import '_includes/forms' as forms %}

{% block blockContent %}
    <p>Page content goes here</p>
{% endblock %}