{#
/**
 * Click and Collect plugin for Craft CMS 4.x
 *
 * Add drop in Click and Collect functionality to Craft Commerce.
 *
 * @link        https://burnthebook.co.uk
 * @author      Michael Burton <mikey@burnthebook.co.uk>
 * @since       0.0.1
 * @copyright   Copyright (c) 2022 burnthebook
 */
#}
{% extends "_layouts/cp" %}

{% set title = "Click & Collect" %}

{% block content %}
    {% redirect "craft-commerce-click-and-collect/collection-points" %}
{% endblock %}

{% block footer %}
    <hr>
    <ul style="margin:0;display:flex;align-items:center;justify-content:center;">
        <li>
            <a href="#" style="margin: 10px;">
                Purchase License
            </a>
        </li>
        <li>
            &middot;
        </li>
        <li>
            <a href="#" style="margin: 10px;">
                Support
            </a>
        </li>
        <li>
            &middot;
        </li>
        <li>
            <a href="#" style="margin: 10px;">
                <span>Made with <span style="color: #e25555;">&#9829;</span> by Burnthebook</span>
            </a>
        </li>
    </ul>
{% endblock %}